<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credentials</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
    <div class="container p-4">
    

      <div class="row">
        {{#each mainUsers}}
          <div class="col-xl-3">

            <div class="card">
                <div class="card-body">
                    <form action="/credentials/{{id}}" method="POST">
                    
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username" value="{{username}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="fullname" class="form-control" placeholder="Fullname" value="{{fullname}}">
                        </div>
                        <div class="form-group">
                            <textarea name="active" rows="2" class="form-control" placeholder="active">{{active}}</textarea>
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-success mb-2 mt-2" href="/addRelative/{{id}}">
                              Add Relative
                            </a>                            
                            <a class="btn btn-primary" href="/editRelatives/{{id}}">
                              Edit Relatives
                            </a>
                            <a class="btn btn-danger" href="/deleteMainUser/{{id}}">
                              Remove Main User
                            </a>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        {{else}}
          <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
              <p>There are not relatives saved yet.</p>
              <a href="/links/add">Create One!</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  </body>
  <script>
    const seeRelatives = (id) =>{
       
    }
  </script>
</html>